.country-card {
    cursor: pointer;
    transition: all .2s ease-in-out;
}

#back-btn {
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

/* country spec */

#country-cards {
    transform: translateX(-100%);
    transition: all .2s ease-in-out;
}

#country-specific-info {
    transform: translateX(-100%);
    transition: all .2s ease-in-out;
}

#country-cards.opened, #country-specific-info.opened {
    transform: translateX(0);
}

/* dark mode */

.dark-mode-btn {
    cursor: pointer;
    transition: all .2s ease-in-out;
}

.dark-mode-btn:hover {
    background: grey;
    border-radius: 10px;
}

.dark-mode-btn:hover, .country-card:hover, .border-country:hover, #back-btn:hover {
    transform: scale(1.1);
}

